USE [master]
GO
/****** Object:  Database [ShopBanGiay]    Script Date: 06/04/2026 3:19:03 CH ******/
CREATE DATABASE [ShopBanGiay]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShopBanGiay', FILENAME = N'D:\0_This_Is_Your_Storage\0_Programming\8. SQL_Server\ShopBanGiay.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShopBanGiay_log', FILENAME = N'D:\0_This_Is_Your_Storage\0_Programming\8. SQL_Server\ShopBanGiay_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShopBanGiay].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShopBanGiay]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 06/04/2026 3:19:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaChiTietHD] [char](5) NOT NULL,
	[MaDonHang] [char](5) NOT NULL,
	[MaSanPham] [char](5) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GiaBan] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTietHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTieu]    Script Date: 06/04/2026 3:19:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTieu](
	[MaChiTieu] [char](6) NOT NULL,
	[LiDoChi] [nvarchar](255) NOT NULL,
	[TongCong] [decimal](18, 2) NOT NULL,
	[NgayChi] [datetime] NULL,
	[ChiTiet] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGia]    Script Date: 06/04/2026 3:19:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGia](
	[MaDanhGia] [char](5) NOT NULL,
	[MaNguoiDung] [char](5) NOT NULL,
	[MaSanPham] [char](5) NOT NULL,
	[SoSao] [int] NOT NULL,
	[NoiDung] [nvarchar](max) NULL,
	[NgayDanhGia] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDanhGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 06/04/2026 3:19:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDonHang] [char](5) NOT NULL,
	[MaNguoiDung] [char](5) NOT NULL,
	[NgayDatHang] [datetime] NULL,
	[TongHoaDon] [decimal](18, 2) NOT NULL,
	[TrangThaiDonHang] [int] NOT NULL,
	[DiaChiGiaoHang] [nvarchar](max) NULL,
	[PhuongThucThanhToan] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 06/04/2026 3:19:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[MaNguoiDung] [char](5) NOT NULL,
	[HovaTen] [nvarchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Phone] [varchar](11) NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[VaiTro] [int] NOT NULL,
	[Anh] [nvarchar](max) NULL,
	[NgayTao] [datetime] NULL,
	[BiKhoa] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 06/04/2026 3:19:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSanPham] [char](5) NOT NULL,
	[TenSP] [nvarchar](200) NOT NULL,
	[Gia] [decimal](18, 2) NOT NULL,
	[GiaSale] [decimal](18, 2) NULL,
	[ImageURL] [nvarchar](max) NULL,
	[GioiThieu] [nvarchar](max) NULL,
	[SoLuong] [int] NOT NULL,
	[DangBan] [bit] NOT NULL,
	[ThuongHieu] [nvarchar](100) NULL,
	[SoLuotReview] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YeuThich]    Script Date: 06/04/2026 3:19:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YeuThich](
	[MaNguoiDung] [char](5) NOT NULL,
	[MaSanPham] [char](5) NOT NULL,
	[NgayThem] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC,
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietHoaDon] ([MaChiTietHD], [MaDonHang], [MaSanPham], [SoLuong], [GiaBan]) VALUES (N'HT001', N'DH001', N'SP001', 1, CAST(1990000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietHoaDon] ([MaChiTietHD], [MaDonHang], [MaSanPham], [SoLuong], [GiaBan]) VALUES (N'HT002', N'DH001', N'SP005', 2, CAST(990000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietHoaDon] ([MaChiTietHD], [MaDonHang], [MaSanPham], [SoLuong], [GiaBan]) VALUES (N'HT003', N'DH002', N'SP004', 1, CAST(1500000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[ChiTieu] ([MaChiTieu], [LiDoChi], [TongCong], [NgayChi], [ChiTiet]) VALUES (N'CT0001', N'Nhập hàng Nike tháng 4', CAST(15000000.00 AS Decimal(18, 2)), CAST(N'2026-04-02T19:10:42.663' AS DateTime), N'Nhập 50 đôi Nike Air Force 1')
INSERT [dbo].[ChiTieu] ([MaChiTieu], [LiDoChi], [TongCong], [NgayChi], [ChiTiet]) VALUES (N'CT0002', N'Tiền điện tháng 4', CAST(500000.00 AS Decimal(18, 2)), CAST(N'2026-04-02T19:10:42.663' AS DateTime), N'Hóa đơn điện tháng 4')
INSERT [dbo].[ChiTieu] ([MaChiTieu], [LiDoChi], [TongCong], [NgayChi], [ChiTiet]) VALUES (N'CT0003', N'Tiền thuê mặt bằng', CAST(5000000.00 AS Decimal(18, 2)), CAST(N'2026-04-02T19:10:42.663' AS DateTime), N'Thuê mặt bằng tháng 4')
GO
INSERT [dbo].[DanhGia] ([MaDanhGia], [MaNguoiDung], [MaSanPham], [SoSao], [NoiDung], [NgayDanhGia]) VALUES (N'DG001', N'ND002', N'SP001', 5, N'Giày rất đẹp, đúng size, giao hàng nhanh!', CAST(N'2026-04-02T19:10:42.673' AS DateTime))
INSERT [dbo].[DanhGia] ([MaDanhGia], [MaNguoiDung], [MaSanPham], [SoSao], [NoiDung], [NgayDanhGia]) VALUES (N'DG002', N'ND002', N'SP005', 4, N'Chất lượng tốt, giá hợp lý', CAST(N'2026-04-02T19:10:42.673' AS DateTime))
INSERT [dbo].[DanhGia] ([MaDanhGia], [MaNguoiDung], [MaSanPham], [SoSao], [NoiDung], [NgayDanhGia]) VALUES (N'DG003', N'ND003', N'SP004', 5, N'Vans cổ điển, mình rất thích', CAST(N'2026-04-02T19:10:42.673' AS DateTime))
GO
INSERT [dbo].[DonHang] ([MaDonHang], [MaNguoiDung], [NgayDatHang], [TongHoaDon], [TrangThaiDonHang], [DiaChiGiaoHang], [PhuongThucThanhToan], [GhiChu]) VALUES (N'DH001', N'ND002', CAST(N'2026-04-02T19:10:42.637' AS DateTime), CAST(3980000.00 AS Decimal(18, 2)), 2, N'123 Nguyễn Trãi, Q.1, TP.HCM', N'COD', NULL)
INSERT [dbo].[DonHang] ([MaDonHang], [MaNguoiDung], [NgayDatHang], [TongHoaDon], [TrangThaiDonHang], [DiaChiGiaoHang], [PhuongThucThanhToan], [GhiChu]) VALUES (N'DH002', N'ND003', CAST(N'2026-04-02T19:10:42.637' AS DateTime), CAST(1500000.00 AS Decimal(18, 2)), 1, N'456 Lê Lợi, Q.3, TP.HCM', N'COD', NULL)
INSERT [dbo].[DonHang] ([MaDonHang], [MaNguoiDung], [NgayDatHang], [TongHoaDon], [TrangThaiDonHang], [DiaChiGiaoHang], [PhuongThucThanhToan], [GhiChu]) VALUES (N'DH003', N'ND002', CAST(N'2026-04-02T19:10:42.637' AS DateTime), CAST(2200000.00 AS Decimal(18, 2)), 0, N'789 Hai Bà Trưng, Q.1, TP.HCM', N'COD', NULL)
GO
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [HovaTen], [Email], [Phone], [PasswordHash], [VaiTro], [Anh], [NgayTao], [BiKhoa]) VALUES (N'ND001', N'Quản Trị Viên', N'admin@hhk.com', N'0901234567', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', 0, N'images/default_avatar.png', CAST(N'2026-04-02T19:10:42.603' AS DateTime), 0)
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [HovaTen], [Email], [Phone], [PasswordHash], [VaiTro], [Anh], [NgayTao], [BiKhoa]) VALUES (N'ND002', N'Nguyễn Văn An', N'an@gmail.com', N'0912345678', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', 1, N'images/default_avatar.png', CAST(N'2026-04-02T19:10:42.603' AS DateTime), 0)
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [HovaTen], [Email], [Phone], [PasswordHash], [VaiTro], [Anh], [NgayTao], [BiKhoa]) VALUES (N'ND003', N'Trần Thị Bình', N'binh@gmail.com', N'0923456789', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', 1, N'images/default_avatar.png', CAST(N'2026-04-02T19:10:42.603' AS DateTime), 0)
GO
INSERT [dbo].[SanPham] ([MaSanPham], [TenSP], [Gia], [GiaSale], [ImageURL], [GioiThieu], [SoLuong], [DangBan], [ThuongHieu], [SoLuotReview]) VALUES (N'SP001', N'Nike Air Force 1 Low', CAST(2500000.00 AS Decimal(18, 2)), CAST(1990000.00 AS Decimal(18, 2)), N'images/Nike/nike_airforce1.png', N'Giày Nike Air Force 1 cổ điển, thiết kế trắng tinh tế', 50, 1, N'Nike', 2)
INSERT [dbo].[SanPham] ([MaSanPham], [TenSP], [Gia], [GiaSale], [ImageURL], [GioiThieu], [SoLuong], [DangBan], [ThuongHieu], [SoLuotReview]) VALUES (N'SP002', N'Adidas Ultraboost 22', CAST(3200000.00 AS Decimal(18, 2)), NULL, N'images/Adidas/adidas_ultraboost.png', N'Công nghệ Boost đỉnh cao, thoải mái cả ngày', 35, 1, N'Adidas', 0)
INSERT [dbo].[SanPham] ([MaSanPham], [TenSP], [Gia], [GiaSale], [ImageURL], [GioiThieu], [SoLuong], [DangBan], [ThuongHieu], [SoLuotReview]) VALUES (N'SP003', N'Nike Air Max 270', CAST(2800000.00 AS Decimal(18, 2)), CAST(2200000.00 AS Decimal(18, 2)), N'images/Nike/nike_airmax270.png', N'Đệm khí lớn nhất, cực êm ái và năng động', 20, 1, N'Nike', 0)
GO
INSERT [dbo].[YeuThich] ([MaNguoiDung], [MaSanPham], [NgayThem]) VALUES (N'ND001', N'SP005', CAST(N'2026-04-06T01:07:31.403' AS DateTime))
INSERT [dbo].[YeuThich] ([MaNguoiDung], [MaSanPham], [NgayThem]) VALUES (N'ND002', N'SP001', CAST(N'2026-04-02T19:10:42.700' AS DateTime))
INSERT [dbo].[YeuThich] ([MaNguoiDung], [MaSanPham], [NgayThem]) VALUES (N'ND002', N'SP009', CAST(N'2026-04-02T19:10:42.700' AS DateTime))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NguoiDun__A9D1053463B10DCA]    Script Date: 06/04/2026 3:19:04 CH ******/
ALTER TABLE [dbo].[NguoiDung] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTieu] ADD  DEFAULT (getdate()) FOR [NgayChi]
GO
ALTER TABLE [dbo].[DanhGia] ADD  DEFAULT (getdate()) FOR [NgayDanhGia]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT (getdate()) FOR [NgayDatHang]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT ((0)) FOR [TrangThaiDonHang]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT (N'COD') FOR [PhuongThucThanhToan]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT ((1)) FOR [VaiTro]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT ('images/default_avatar.png') FOR [Anh]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT ((0)) FOR [BiKhoa]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ('images/default_shoe.png') FOR [ImageURL]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((1)) FOR [DangBan]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [SoLuotReview]
GO
ALTER TABLE [dbo].[YeuThich] ADD  DEFAULT (getdate()) FOR [NgayThem]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaDonHang])
REFERENCES [dbo].[DonHang] ([MaDonHang])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[YeuThich]  WITH CHECK ADD FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[YeuThich]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD CHECK  (([SoSao]>=(1) AND [SoSao]<=(5)))
GO
USE [master]
GO
